doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Perú21
    link(rel="stylesheet", href="css/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="style.css")

    body
      main
        header
          .box-menu
          
              

        .container.px-0
          div
            h2  Economía
          .c-box-img
            img.box-img(src="img/XVHASWZBOVAR5I7CI2VFXN45LQ.jpg", alt="")
            .box-text.p-4
              a.box-img__link(href="#") Economia   
              a.box-img__parrafo(href="#") Piñera anuncia  que dará US$124 a más de un millón de familias por crisis social.
              span.box-img__span REDACCION PERÚ21  

        .container.px-0
          div
            h2  Economía
          .c-box-img
            img.box-imsg(src="img/K33OU634NNC3ROBWYROHORJTEY.jpg", alt="")
            .box-text.p-4
              a.box-img__link(href="#") Economia   
              a.box-img__parrafo(href="#") Piñera anuncia  que dará US$124 a más de un millón de familias por crisis social.
              span.box-img__span REDACCION PERÚ21 

             

