.box-menu {
  background-color: #0c70bf;
  height          : 80px;
}

.box-img {

  object-fit: cover;
}

.c-box-img {
  overflow: hidden;
  position: relative
}

.c-box-img::before {
  content       : "";
  position      : absolute;
  pointer-events: none;
  width         : 100%;
  height        : 306px;
  bottom        : 0;
  left          : 0;
  background    : -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(68, 68, 68, 0)), to(#444));
  background    : linear-gradient(180deg, rgba(68, 68, 68, 0) 20%, #444)
}

.box-text {
  position       : absolute;
  z-index        : 99;
  left           : 0;
  bottom         : 0;
  color          : white;
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
}

.box-img__link {
  color  : white;
  border : 2px solid white;
  width  : fit-content;
  padding: 0px 6px;
}

.box-img__parrafo {
  font-weight: 700;
  color      : white;
  font-size  : 1.3rem
}







@media (min-width: 768px) {
  .c-box-img {
    padding: 0 30px;
  }

  .box-text {
    padding: 20px 50px !important;
  }

  .box-img__link {
    margin-bottom: 20px;
  }

  .box-img__parrafo {
    margin-bottom: 50px;
  }
}